<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>纤纤汉服商城后台管理系统</title>
<style th:inline="css">
</style>
<script type="text/javascript">
</script>
</head>
<body style="padding:0 auto;margin:0 auto;background-color:white;">
	<!-- 头部 -->
	<iframe width="100%" height="80px" frameborder="0" scrolling="no" src="../background/top.html"></iframe>

	<!-- 左侧导航栏 -->
	<iframe width="10%" height="610px" frameborder="0" scrolling="no" src="../background/left.html" style="float:left;"></iframe>

	<!-- 右侧 -->
	<iframe name="rightframe" width="90%" height="610px" frameborder="0" scrolling="auto"></iframe>
</body>

</html>